body {
    background-image: linear-gradient(to bottom right, #828b8e, #062f19);
    font-family: 'Noto Serif Khojki';
    font-size: 16px;
    margin: 0;
}

.header {
    display: block;
}

.navbar {
    text-align: center;
}

ul {
    padding-left: 0px;
}

a {
    color: black;
}

h1, h2, h3, h4, p {
    text-align: center;
}

.main {
    display: block;
    padding: 20px;
}

.main img {
    width: 25%;
    height: auto;
    display: block;
    margin: auto;
}

.image {
    width: 45%;
    height: auto;
    display: block;
    margin: auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.art {
    padding: 20px;
    background-color: #2F061C;
    width: 100%;
}

.art img {
    width: 45%;
    height: 400px;
    margin: 1.5%;
}

.art {
    color: white;
}

.collection {
    padding: 20px;
    background-color: #2F061C;
    width: 100%;
    color: white;
}

.collection img {
    width: 45%;
    height: 400px;
    margin: 1.5%;
}

.paint {
    padding: 20px;
}

.contact {
    text-align: center;
}

@media only screen and (max-width: 1048px) {
    .main img {
        width: 100%;
        height: auto;
    }
    .collection {
        margin: 0;
        padding: 0;
    }
    .collection img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .image {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .art {
        margin: 0;
        padding: 0;
    }
    .art img {
        width: 100%;
        height: auto;
        margin: 0;
  }
}

@media only screen and (max-width: 640px) {
    .main img {
        width: 100%;
        height: auto;
    }
    .collection {
        margin: 0;
        padding: 0;
    }
    .collection img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .image {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .art {
        margin: 0;
        padding: 0;
    }
    .art img {
        width: 100%;
        height: auto;
        margin: 0;
  }
  } 

  @media only screen and (max-width: 320px) {
    .main img {
        width: 100%;
        height: auto;
    }
    .collection {
        margin: 0;
        padding: 0;
    }
    .collection img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .image {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .art {
        margin: 0;
        padding: 0;
    }
    .art img {
        width: 100%;
        height: auto;
        margin: 0;
  }
  }  
